@tailwind base;
@tailwind components;
@tailwind utilities;

/*Your Custom CSS Goes here*/

h1 {
  @apply text-4xl tracking-tighter mb-3 text-center lg:text-7xl;
}

h3 {
  @apply text-2xl font-bold mb-3;
}

.clamp-main {
  width: clamp(70vw, calc(13rem + 50vw), 98vw);
}

.clamp-logo {
  width: clamp(50vw,calc(7rem + 50vw),95vw);
}


.text-hr::before, .text-hr::after {
  content: '';
  width: calc(50%-6rem);
  @apply border-t-2 border-gray-200 absolute top-1/2;
}

.text-hr::before {
  @apply left-0;
}

.text-hr::after {
  @apply right-0;
}

/*VH based Height*/

.h-screen-1\/4 {
  height: 25vh;
}

.h-screen-1\/2 {
  height: 50vh;
}

.h-screen-3\/4 {
  height: 75vh;
}

@media (min-width: 640px) {
  .sm\:h-screen-1\/4 {
    height: 25vh;
  }
  
  .sm\:h-screen-1\/2 {
    height: 50vh;
  }
  
  .sm\:h-screen-3\/4 {
    height: 75vh;
  }
}

@media (min-width: 768px) {
  .md\:h-screen-1\/4 {
    height: 25vh;
  }
  .md\:h-screen-1\/2 {
    height: 50vh;
  }
  .md\:h-screen-3\/4 {
    height: 75vh;
  }
}

@media (min-width: 1024px) {
  .lg\:h-screen-1\/4 {
    height: 25vh;
  }
  .lg\:h-screen-1\/2 {
    height: 50vh;
  }
  .lg\:h-screen-3\/4 {
    height: 75vh;
  }
}

@media (min-width: 1280px) {
  .xl\:h-screen-1\/4 {
    height: 25vh;
  }
  .xl\:h-screen-1\/2 {
    height: 50vh;
  }
  .xl\:h-screen-3\/4 {
    height: 75vh;
  }
}

/* Syntax Highlighting*/

body :not(pre) > code[class*="language-"],
body pre[class*="language-"] {
  @apply bg-gray-800;
}