<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or metadata.title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">

    <!-- AlpineJS -->
    <script type="text/javascript" src="{{ '/static/js/alpine.js' | url }}" defer></script>

    <!-- Tailwind CSS -->
    <link rel="stylesheet" type="text/css" href="{{ '/css/style.css' | url }}"/>

    <!-- Feeds -->
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json" title="{{ metadata.title }}">

    <!-- Alpine Data -->
    <script>
      function alpineData() {
        return {
          introShow: {%- if page.url != '/' %}false{%- else -%}true{%- endif -%},
          menuIsOpen: false,
        }
      };
    </script>
  </head>
  <body class="w-full bg-gray-800" x-data="alpineData()">

		<!-- Wrapper -->
		<div class="mx-auto">
      <div class="{%- if page.url == '/' -%}h-screen-3/4 | md:h-screen-1/2{%- else -%}h-screen-1/4{%- endif %} relative">
        {%- if page.url == '/' %}
          <!-- Intro -->
          <div 
            id="" 
            class="absolute px-8 pt-12 pb-4 text-center text-white transform -translate-x-1/2 bottom-1/10 left-1/2"
            x-show="introShow"
            x-transition:enter="transition duration-1000 transform ease-linear"
            x-transition:enter-start="opacity-0"
            x-transition:leave="transition duration-600 transform ease-linear"
            x-transition:leave-end="opacity-0"
            @scroll.window="introShow = (window.pageYOffset > 250) ? false : true">
			    	<h1 class="text-6xl text-center text-white">This is<br />
              External Memories</h1>
			    	<p class="text-center text-white">This is a blog or portfolio or thing. I don't know.</p>
            <a href="#main-target" class="">Scroll Down</a>
			    </div>
        {%- endif -%}

			  <!-- Header -->
			  <header
          class="absolute py-2 text-3xl text-center text-white transform -translate-x-1/2 border-4 border-white border-solid bottom-1/10 left-1/2 clamp-logo"
          x-show="!introShow"
          x-transition:enter="transition duration-1000 transform ease-linear"
          x-transition:enter-start="opacity-0"
          x-transition:leave="transition duration-600 transform ease-linear"
          x-transition:leave-end="opacity-0">
			  	<a href="index.html">{{ title or metadata.title }}</a>
			  </header>
      </div>


      <!-- Nav -->
      {#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ -#}
			<nav id="" class="clamp-main text-white h-16 leading-16 bg-gray-600 mx-auto uppercase hidden | md:flex">
				<ul class="flex tracking-wider">
          {%- for entry in collections.all | eleventyNavigation %}
            <li class="block px-8 {%- if entry.url == page.url %} font-semibold text-gray-800 bg-white{%- else %}  hover:bg-gray-400 hover:text-gray-800{%- endif -%}">
              {%- if entry.url != page.url -%}<a href="{{ entry.url | url }}">{{ entry.title }}</a>{%- else -%}{{ entry.title }}{%- endif -%}</li>
          {%- endfor %}
				</ul>
			</nav>

      <!-- Mobile Navigation Drawer -->
      <button class="fixed z-10 px-4 py-2 tracking-wider text-gray-100 bg-gray-800 rounded-md shadow-lg right-4 top-4 md:hidden"
        x-show="!menuIsOpen"
        x-transition:leave="transform transition-all duration-600 ease-out"
        x-transition:leave-end="opacity-0"
        @click.prevent="menuIsOpen = true">MENU</button>

      <nav class="fixed top-0 right-0 z-20 flex items-center w-5/6 h-screen pt-12 pl-8 pr-12 tracking-wider bg-gray-700 md:hidden" 
        style="display: none;"
        x-show="menuIsOpen"
        x-transition:enter="transform transition-all duration-1000 ease-out"
        x-transition:enter-start="translate-x-full"
        x-transition:leave="transform transition-all duration-800 ease-in"
        x-transition:leave-end="translate-x-full"
        @click.away="menuIsOpen = false">
        <button class="absolute text-gray-200 right-4 top-4"
          @click.prevent="menuIsOpen = false">close X</button>
        <ul class="block w-full text-lg text-gray-200 divide-y divide-gray-600">
          {%- for entry in collections.all | eleventyNavigation %}
            <li class="block pb-2 pt-4{%- if entry.url == page.url %} font-bold uppercase{%- else %}{%- endif -%}">
              {%-if entry.url != page.url -%}<a class="inline-block w-full h-full" href="{{ entry.url | url }}">{{ entry.title }}</a>{%- else -%}{{ entry.title }}{%- endif -%}</li>
          {%- endfor %}
        </ul>
      </nav>


      <!-- Main -->
      {%- if page.url == '/' %}<div id="main-target" class="-mt-20h pt-20h md:-mt-24h md:pt-24h"></div>{%- endif -%}
			<div class="relative max-w-6xl px-4 pt-6 pb-24 mx-auto my-0 prose bg-white clamp-main md:px-12">
        {{ content | safe }}
      </div>


      <footer class="h-24 mb-8 bg-gray-800 clamp-main"></footer>

      <!-- Current page: {{ page.url | url }} -->
    </div>
  </body>
</html>
